<div class="sidebar" [class.sidebar-close]="!openSidebar">
    <div class="logo-details">
      <img src="https://zupimages.net/up/22/42/refj.png" />
    </div>
    <ul class="nav-links" id="nav-links">
      <li
        *ngFor="let item of menuSidebar"
        [class.showMenu]="activeItem == item.link_name"
        #itemEl
      >
        <div
          *ngIf="item.sub_menu.length > 0"
          class="dropdown-title"
          (click)="showSubmenu(item)"
        >
          <a (click)="selectMenu(item)">
            <i [class]="item.icon"></i>
            <span class="link_name">{{ item.link_name }}</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
          <li>
            <a class="link_name">{{ item.link_name }}</a>
          </li>
          <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
            <a [routerLink]="[item_sub.link]">{{ item_sub.link_name }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="home-header">
      <div class="hamburger-menu">
        <input
          type="checkbox"
          id="checkbox-hamburger-menu"
          [(ngModel)]="openSidebar"
        />
        <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </label>
      </div>
      <div class="title"><a href="#" (click)="logoff() ">Logout</a></div>
      <!-- <div class="title">Your last login: 21/10/2022 12:00:14 </div> -->
    </div>
    <div class="home-view">
      <router-outlet></router-outlet>
    </div>
  </section>
  